body{
    margin: 0;
    padding: 0;
    right: 0;
    background-color: #fff;
}

*{
    box-sizing: border-box;
}

/* THe Navigation side */
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #fff;
    box-shadow: 0 -4px 15px hsla(0, 0%, 32%, 0.467);
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
header img{
    height: 48px;
}
nav{
    position: relative;
    display: flex;
    align-items: center;
}

nav ul, aside ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;    
}
nav ul a, aside ul a{
    margin: 0 15px;
    text-decoration: none;
    padding: 0 5px;
    font-size: 16px;
    position: relative;
    color: black;
    font-family: "Roboto";
}
nav ul a::after, aside ul a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #0d4736;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

nav ul a:hover::after, aside ul a:hover::after {
    width: 100%;
}

nav ul img, aside{
    display: none;
}

/* The Hero Section */
section.hero{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0 10% ;
    background-image: -moz-linear-gradient(to right, #fff 15%, transparent), url('https://cdn.getyourguide.com/img/location/54b408bc118be.jpeg/88.jpg');
    background-image: linear-gradient(to right, #fff 15%, transparent), url('https://cdn.getyourguide.com/img/location/54b408bc118be.jpeg/88.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


div.text-block{
    width: 50%;
    padding:  90px 40px;
    margin: 0;
    background: linear-gradient(to right, #fff 45% , transparent );

}

div.text-block h1{
    background:-moz-linear-gradient(#10e9c2, #0d4736, #10e9c2);
    background:linear-gradient(#10e9c2, #0d4736, #10e9c2);
    font-size: 5.5em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 10px 0 20px;
    font-family: "Bebas Neue";
    height: max-content;
}
div.text-block p{
    color: black;
    font-family: "Roboto";
}

section.hero div.buttons{
    display: flex;
    align-items: center;
}

section.hero  button{
    width: 210px;
    height: 70px;
    background-color: transparent;
    color: #0d4736;
    margin: 5px 5px 0px 0px;
    border-radius: 55px;
    border: solid 2px #0d4736;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
section.hero  button:hover{
    background-color: transparent;
    color: #0d4736;
    transition: 0.5s;
}
section.hero  button#session-pointer{
    background-color: #0d4736 ;
    color: #fff;
    border: solid 2px #0d4736;
}
section.hero  button#session-pointer:hover{
    background-color: transparent;
    color: #0d4736;
}
* button div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
}
*svg path{
    width: 28px;
    height: 28px;
}
* svg{
    width: 28px;
    height: 28px;
    margin: 0 10px 0;
    display: flex;
    align-self: center;
    justify-self: center;
    transition: 0.5s;
}
button:hover svg path {
    fill: #0d4736;
}
* button{
    transition: 0.5s;
}
/* Service Offered */
section.services{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 90px 0 0;
}
* h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    color: #0d4736;
    font-family: "Roboto";
}
 div.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
section.services div.service {
    width: 280px; 
    height: 380px; 
    margin: 0  15px 15px 0;
    border: none;
    background-color: transparent;
    position: relative;
}
section.services div.service img{
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 360px;
    z-index: 1;
}

section.services h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin:0;
    padding: 5px 0;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 50%);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    transition: 1.4s;
    height: 20px;
    overflow: hidden;
}

section.services h3:hover{
    height: 100px;
}

section.services h3 button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: solid 2px hsla(162, 69%, 16%, 0.549);
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

section.services div.service img:hover ~ h3 {
    height: 100px;
}

/* Customer Review */
section.customer-review{
    padding: 10px 40px 40px;
}

section.customer-review h3{
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-family: "Roboto";
}

div.comment-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    gap: 20px;
}
div.comment {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background:-moz-linear-gradient(#10e9c2, #0d4736, #10e9c2);
    background:linear-gradient(#10e9c2, #0d4736, #10e9c2);
    font-family: "Roboto";
    color: #fff;
    padding: 0 10px 5px 10px;
    border-radius: 5px;
    max-width: 400px;
}
div.comment span{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
div.comment img {
    height: 100px; 
    width: 100px; 
    border-radius: 50px;
    border: solid 10px #fff;
    object-fit: cover; 
    z-index: 3;
    transition: 1.5s;
}
div.comment img:hover {
    height: 105px; 
    width: 105px; 
    border: none;
}
div.comment div {
    display: flex;
    flex-direction: column;
}
div.comment p{
    margin: 0;
}
div.comment p.quote{
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 95%);
  margin: 0 0 10px 0;
  font-size: 15px;
}
/* MERCH section #######################*/
section.merch {
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 90px 0 0;
}

section.merch h3 {
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 50%);
}

.merch-contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    max-height: 510px;
    margin-bottom: 10px;
}

.product img {
    margin-left: 10%;
    width: 80%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}
.product img:hover {
    transform: scale(1.2);
}

.product-description {
    padding: 0 0 40px;
    text-align: center;
}

.product-description h4 {
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 50%);
    margin: 0;
}

.product-description .colors {
    height: 20px;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 1em;
    color: #6e6e73;
    margin-bottom: 20px;
    margin: 0 5px 10px;
    font-family: "Montserrat", sans-serif;
}

button.learn, button.buy {
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
    margin-bottom: 5px;
}

button.learn {
    background-color: hsl(162, 69%, 16%);
    border: 2px solid #0d4736;
    color: #fff;
}

button.learn:hover {
    background-color: #0d4736;
    background-color: transparent;
    color: #0d4736;
}

button.buy {
    border: solid 2px transparent;
    background-color: transparent;
    color: #0d4736;
}

button.buy:hover {
    box-shadow: 1px 1px 25px hsl(0, 0%, 0%, 0.3);
}

div.colors{
    height: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
div.colors span{
    height: 12px;
    width: 12px;
    border-radius: 20px;
    border: solid 1.2px hsl(0, 0%, 60%);
    box-shadow: inset 1p 1px 4px hsl(0, 0%, 60%),
                inset 1p 1px 4px hsl(0, 0%, 10%),
                inset 1p 1px 40px hsl(0, 0%, 0%);
}

/* Abot me Section */
div.about-container,
div.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

div.about-section {
    width: 400px;
}

div.about-section img {
    width: auto;
    max-height: 300px;
}

div.about-description {
    flex: 2;
    padding: 20px;
    text-align: left;
    max-width: 600px;
}
div.about-description h3 span{
    background:-moz-linear-gradient(#10e9c2, #0d4736, #10e9c2);
    background:linear-gradient(#10e9c2, #0d4736, #10e9c2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

div.about-description h3 {
    font-size: 4em;
    color: #1d1d1f;
    margin-bottom: 20px;
    font-family: "Bebas Neue";
}

div.about-description p {
    font-size: 16px;
    color: #6e6e73;
    line-height: 1.4;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}

div.about-description button, 
form.contact button {
    width: 180px;
    height: 60px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: hsl(162, 69%, 16%);
    border: 2px solid #0d4736;
    color: #fff;
}

div.about-description button:hover {
    background-color: #fff;
    color: #0d4736;
}
div.contact-text{
    max-width: 400px;
}



div.img-projects img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
div.img-projects > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.img-projects > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

div.img-projects{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,  minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    width: 80%;
    margin-left: 10%;
}

div.img-projects .wide{
    grid-column: span 2;
}
div.img-projects .tall{
    grid-row: span 2;
}
div.img-projects .big{
    grid-row: span 2;
    grid-column:span 2 ;
}




/* Comment section ############### */
section.contact-me{
    display: flex;
    width: 100;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

form.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 20px;
    max-width: 375px;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    position: relative;
}

form.contact label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form.contact label.names{
    width: 48%;
}

form.contact input[type="text"],
form.contact textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: hsl(162, 69%, 90%);
    border-radius: 4px;
    font-size: 14px;
}

form.contact textarea {
    height: 150px;
    resize: vertical;
}

form.contact button{
    margin: 5px 0;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    left: 0;
}

form.contact button:hover{
    background-color: transparent;
    color: #0d4736;
}

/* Thr footer */
footer {
    background-color: #0d4736;
    color: #fff;
    padding: 40px 0 20px;
    text-align: center;
    font-family:"Montserrat",sans-serif;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 5px 0;
}
.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    cursor: pointer;
}
.social-icons img:hover {
    transform: scale(1.2);
}
.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.footer-nav ul li {
    display: inline;
    margin: 0 15px;
}
footer p {
    margin: 10px 0;
}
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
footer p{
    font-size: 12px;
}